.CFUserTextEncoding
.DS_Store
.IntelliJIdea15/
.Trash/
.android/
.aws/
.bash_history
.bash_sessions/
.cache/
.config/
.cups/
.docker/
.dropbox/
.eclipse/
.gradle/
.groovy/
.jmc/
.kobalt/
.kube/
.lein/
.lesshst
.lobo/
.m2/
.minikube/
.oracle_jre_usage/
.scala_history
.ssh/
.teamcity/
.vim/
.viminfo
.vmware
.wget-hsts
Applications/
Desktop/
Docker/
Documents/
Downloads/
Dropbox/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox\ VMs/
bin/
*.txt
